server.host = {{server_host}}
server.port = {{kibana_port}}

pid.file: /run/kibana/kibana.pid

logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file

elasticsearch.hosts: ["http://localhost:{{es_port}}"]
elasticsearch.username: {{kibana_username}}
elasticsearch.password: {{kibana_password}}

i18n.locale: "en"